<div class="grid-view" *ngIf="view == 'grid'">
    <div class="card text-center">
        <div class="card-header fw-bold fs-5 text-success">
            Header
        </div>

        <div class="overflow-hidden d-flex justify-content-center align-items-center">
            <img src="../../assets/Images/laptops/1/1.jpg" alt="" class="card-img-top">
        </div>

        <div class="card-body">
            <h5 class="card-title title">Tiêu đề</h5>
            <h6 class="card-subtitle my-2 text-primary"> Còn 12 sản phẩm. </h6>
            <p class="card-text description"> Mô tả </p>
        </div>
        <div class="card-body">
            <h5 class="card-title text-success">
                Giá thanh toán
                <span class="text-primary">
                    -20%
                </span>
            </h5>
            <h6 class="card-subtitle text-danger text-decoration-line-through">
                Giá gốc
            </h6>
        </div>

        <div class="card-footer d-grid gap-2">
            <button class="btn btn-outline-success" type="button">Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>
<div class="list-view" *ngIf="view == 'list'">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4 overflow-hidden d-flex justify-content-center align-items-center">
                <img src="../../assets/Images/laptops/2/1.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col d-flex flex-column">
                <div class="card-header text-center">
                    Header
                </div>

                <div class="card-body">
                    <h5 class="card-title title"> Tiêu đề </h5>
                    <p class="card-text description"> Mô tả </p>
                    <h6 class="card-subtitle mb-3 text-primary"> Còn 11 sản phẩm. </h6>
                </div>

                <div class="card-body">
                    <h4 class="card-title text-muted">Giá thanh toán</h4>
                    <h2 class="card-title text-success">
                        Giá khuyến mại
                        <span class="text-primary">-20% </span>
                    </h2>
                    <h5 class="card-subtitle text-danger text-decoration-line-through"> Giá Gốc </h5>
                </div>

                <div class="card-footer text-muted d-grid gap-2">
                    <button class="btn btn-outline-success" type="button">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cart Item View -->
<div class="cart-item-view" *ngIf="view == 'currentCartItem'">
    <div class="card">
        <div class="row g-0">

            <div class="col-4 overflow-hidden d-flex justify-content-center align-items-center">
                <img src="../../assets/Images/laptops/3/1.jpg" class="img-fluid rounded-start" alt="Product Image">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title title">Tiêu đề</h5>
                    <h5 class="card-title text-success"> Giá thanh toán 
                        <span class="text-primary"> Còn 11 sản phẩm. </span>
                    </h5>
                    <h6 class="card-subtitle text-danger text-decoration-line-through"> Giá gốc </h6>
                </div>

                <div class="card-footer text-muted d-grid gap-2">
                    <button class="btn btn-outline-danger" type="button">Xóa khỏi giỏ hàng</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Previous Cart Item View -->
<div class="cart-item-view" *ngIf="view == 'prevCartItem'">
    <div class="card text-center">

        <div class="overflow-hidden d-flex justify-content-center align-items-center">
            <img src="../../assets/Images/laptops/2/1.jpg" alt="" class="card-img-top">
        </div>

        <div class="card-body">
            <h5 class="card-title title"> Tiêu đề </h5>
        </div>
    </div>
</div>