<div class="grid-view" *ngIf="view == 'grid'">
    <div class="card text-center">
        <div class="card-header fw-bold fs-5 text-success">
            Header
        </div>

        <div class="overflow-hidden d-flex justify-content-center align-items-center">
            <img src="../../assets/Images/tables/1/table1.jpg" alt="" class="card-img-top">
        </div>

        <div class="card-body">
            <h5 class="card-title title">Tiêu đề</h5>
            <h6 class="card-subtitle my-2 text-primary"> Còn 12 sản phẩm. </h6>
            <p class="card-text description"> Mô tả </p>
        </div>
        <div class="card-body">
            <h5 class="card-title text-success">
                Giá khuyến mại
                <span class="text-primary">
                    -20%
                </span>
            </h5>
            <h6 class="card-subtitle text-danger text-decoration-line-through">
                Giá gốc
            </h6>
        </div>

        <div class="card-footer d-grid gap-2">
            <button class="btn btn-outline-success" type="button">Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>
<div class="list-view" *ngIf="view == 'list'">
    <div class="card">
        <div class="row">
            <div class="col-md-4 overflow-hidden d-flex justify-content-center align-items-center">
                <img src="../../assets/Images/chairs/1/chair1.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col">
                <div class="card-header text-center">
                    Header
                </div>

                <div class="card-body">
                    <h5 class="card-title title"> Tiêu đề </h5>
                    <p class="card-text description"> Mô tả </p>
                    <h6 class="card-subtitle mb-3 text-primary"> Còn 11 sản phẩm. </h6>
                </div>

                <div class="card-body">
                    <h4 class="card-title text-muted">Giá bán</h4>
                    <h2 class="card-title text-success">
                        Giá khuyến mại
                        <span class="text-primary">-20% </span>
                    </h2>
                    <h5 class="card-subtitle text-danger text-decoration-line-through"> Giá Gốc </h5>
                </div>

                <div class="card-footer text-muted d-grid gap-2">
                    <button class="btn btn-outline-success" type="button">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>