<div class="card">
    <div class="card-header">
        Header
    </div>

    <div>
        <img src="" alt="" class="card-img-top">
    </div>

    <div class="card-body">
        <h5 class="card-title title"></h5>
        <h6 class="card-subtitle my-2 text-primary"> 12 sản phẩm có sẵn. </h6>
        <p class="card-text description"> Mô tả </p>
    </div>
    <div class="card-body">
        <h5 class="card-title text-success"> 
            Giá cuối
            <span class="text-primary">
                -20%
            </span>
        </h5>
        <h6 class="card-subtitle text-danger text-decoration-line-through">
            Giá gốc
        </h6>
    </div>
</div>